/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/
.zera {
	margin:0 auto;
	padding:0;
}

.padding {
	padding-top: 50px;
	padding-bottom: 50px;
}

.padding-10 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.padding-20 {
	padding-top: 20px;
	padding-bottom: 20px;
}

.test {
	background: red;
}

.test2 {
	background: blue;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.fundo {
	background: url(../img/banner.jpg) 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 500px;
}

.menu {
	background: rgba(43, 36, 36, 0.3);
}

.links {

}

.link {
	color:#fff;
	font-weight: 600;
	font-size: 12px
}

.fund {
background:#F8F8F8;}
.espaco {
	width: 100%;
	padding-top: 25px;
	padding-bottom:25px;
}

.image {
	padding-bottom: 20px
}

.image img {
	border-radius: 50%;
	width: 160px;
	height: 160px;
}


.franquia {
	background: url(../img/franquia.jpg) 100%;
	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.rodape-link {
	background:#332F30;
	color: #fff
}

.extra {
	background #CCC;
}

.ex {
	color: #6EAB2C;
	font-size: 16px;
	text-align: center;
	overflow: hidden;
}

.rod {
	font-size: 18px;
	color:#6EAB2C;
}
ul>li>a {
	color:#ccc;
	font-weight: 100;
	letter-spacing: 1px
}

ul>li>a:hover {
	color:#fff;
	text-decoration: none;
}

.by { 
	font-size: 11px
}

.search {
	width: 100%;

}

.card {
	box-shadow: 0px 0px 9px #ccc;
	border-radius: 6px;
	height: 300px;
	background-position: center center;
	background-size:cover;
	background-repeat: no-repeat;
	margin-bottom: 10px;
	overflow: scroll;
}

.text h2 {
	color: #6EAB2C

}

.tags {
	text-align: center;
	font-size: 36px
}

.tags ul>li>a {
	color: #ccc;
}


.tags ul>li>a:hover {
	color: #6EAB2C;
	font-weight: 500
}


















