  <!DOCTYPE html>
  <html >
    <head>
      <meta charset="UTF-8">
      <title>MagraSS</title>
      	<link rel="stylesheet" type="text/css" href="css/style.css">

  	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" crossorigin="anonymous">
  	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" crossorigin="anonymous">

    </head>

    <body>

      


  	<body ng-app="instantSearch" ng-controller="InstantSearchController">

  		<div class="container zera padding-10">
  			<div class="col-md-6 col-xs-6 text-left" style="margin:0 auto; padding:0">
  				<a class="btn btn-default" href="#" role="button"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Nossas Unidades</a>
  			</div>
  			<div class="col-md-6 col-xs-6 text-right" style="margin:0 auto; padding:0">
  				<a class="btn btn-success" href="#" role="button"><span class="glyphicon glyphicon-apple" aria-hidden="true"></span> Magrass Clube</a>
  			</div>
  		</div>

  		<div class="container-fluid fundo" style="margin:0 auto; padding:0">
  			<div class="zera container-fluid padding-20 menu" style="width:100%">
  				<div class="container">
  					<div class="col-md-3">
  						<div class="logo">
  							<img src="img/logo.png" class="center-block responsive-image">
  						</div>
  					</div>
  					<div class="col-md-9">
  						<div class="links">
  							<ul class="list-inline">
  								<li class="nav"><a href="" class="link">ESPECIALIDADES<br>MAGRASS</a></li>
  								<li><a href="" class="link">EMAGRECIMENTO<br>SAUDÁVEL</a></li>
  								<li><a href="" class="link">ESTÉTICA DE RESULTADO</a></li>
  								<li><a href="" class="link">BLOG</a></li>
  								<li><a href="" class="link">FRANQUIA</a></li>
  								<li><a href="" class="link">NOSSAS<br>UNIDADES</a></li>
  								<li><a href="" class="link">SOBRE NÓS</a></li>
  							</ul>
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>

  		<div class="container-fluid" style="padding:0; margin:0 auto">
  			<div class="container">
    		<div class="espaco"></div>
    		<div class="text-center" style="text-align:center">
  		   <h2 style="font-size:36px; color: #6EAB2C; font-weight:800">	O Programa Metabólico Magrass </h2>
  		   <span style="color:#6EAB2C">Conheça o Dr. Eduardo Bernhardt – Criador do Programa metabólico Magrass </span><br><br>
  		   <p style="">O programa metabólico, grande diferencial da Magrass, foi desenvolvido pelo diretor médico da rede, Dr. Eduardo Bernhardt, pós graduado em Nutrologia e Cirurgia Plástica Estética. A iniciativa partiu da própria história de vida pessoal dele, que por muito tempo lutou com a balança e os quilinhos a mais. Cansado de passar fome, de tentar dietas que não funcionam e sem querer colocar sua saúde em risco, revisou mais de 100 anos de literatura científica sobre o tema, elaborando assim um método saudável, prático e saboroso de manter o peso dentro da faixa ideal e a qualidade de vida em alta, batizado de Programa Metabólico.</p><br>
  		   <span>Atualmente, milhares de brasileiros desfrutam desse benefício.</span><br><br>
  		   <a class="btn btn-success" href="#" role="button">
  		   		<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Agende uma visita
  		   </a>

  		</div>
     </div>
     <div class="espaco"></div>

     <div class="container-fluid fund">
     	<div class="container padding">
     		<h2 style="font-size:36px; color: #6EAB2C; font-weight:800; text-align:center">Como o programa funciona? </h2>
     		<div class="espaco"></div>
        <div class="col-md-2 hidden-xs">
          <div class="text">
            <p >
           <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="100%" height="300" viewBox="0 0 533.333 533.333" style="enable-background:new 0 0 533.333 533.333;" xml:space="preserve">
              <g>
                <path d="M127.95,0C68.716,107.309,58.736,270.992,291.418,265.533v-132.2l200,200l-200,200V403.974   C12.793,411.234-18.254,158.028,127.95,0z" fill="#91DC5A"/>
              </g>
            </svg>
            </p>    
          </div>
        </div>

     		<div class="col-md-2">
     			<div class="image">
     				<img src="img/1.jpg" class="center-block image-responsive">
     			</div>
     			<div class="text">
     				<p style="font-size:12px"><span style="color:#6EAB2C; font-weight:800">Coma</span><br>
  					Uma das indicações mais importantes é comer bem. Sem medo das calorias e sem paranóias.
  					A quantidade certa de proteínas, carboidratos saudáveis e micronutrientes, mantém seus
  					hormônios estabilizados, o que facilita a queima natural da gordura.</p>		
     			</div>
     		</div>

     		<div class="col-md-2">
     			<div class="image">
     				<img src="img/2.jpg" class="center-block image-responsive">
     			</div>
     			<div class="text">
     				<p style="font-size:12px"><span style="color:#6EAB2C; font-weight:800">Evite</span><br>
  					Alguns alimentos no entanto, precisam ser evitados na fase inicial do Programa. Mas não se preocupe, você vai aprender como é fácil ficar longe dos verdadeiros vilões.</p>		
     			</div>
     		</div>

     		<div class="col-md-2">
     			<div class="image">
     				<img src="img/3.jpg" class="center-block image-responsive">
     			</div>
     			<div class="text">
     				<p style="font-size:12px"><span style="color:#6EAB2C; font-weight:800">Substitua</span><br>
  					Na Magrass acima de tudo você vai aprender a substituir. Nossas receitas, dicas e produtos, facilitarão muito a sua vida e o melhor tudo com muito sabor! Com a Revista do Programa Metabólico que entregamos gratuitamente aos nossos clientes e o acesso ao Magrass Clube fica fácil e prático aprender e aplicar esses conceitos, que valem pra toda vida.</p>		
     			</div>
     		</div>

     		<div class="col-md-2">
     			<div class="image">
     				<img src="img/4.jpg" class="center-block image-responsive">
     			</div>
     			<div class="text">
     				<p style="font-size:12px"><span style="color:#6EAB2C; font-weight:800">Movimente-se</span><br>
  					Tome gosto pelo movimento. Exercício físico libera endorfina, dá sensação de prazer a ajuda a manter o peso em dia. A Magrass também traz dicas especiais (e que funcionam!) pra quem não gosta de academia, não tem tempo ou tem algum tipo de limitação física. Aproveite!</p>		
     			</div>
     		</div>

     		<div class="col-md-2">
     			<div class="image">
     				<img src="img/5.jpg" class="center-block image-responsive">
     			</div>
     			<div class="text">
     				<p style="font-size:12px"><span style="color:#6EAB2C; font-weight:800">Sessões de estética</span><br>
  					Não falte as sessões de estética incluidas no seu tratamento. O resultado do programa metabólico está ligado a qualidade técnica dos protocolos estéticos inteligentes Magrass. Procure vir na clínica 2x por semana! Cada sessão age por até 72 horas em seu corpo.
          </p>		
     			</div>
     		</div>

     		
     </div>
     </div>
  		</div>



      <div class="container-fluid padding">
        <div class="container" ng-app="instantSearch" ng-controller="InstantSearchController">
          
          <div class="bar">
              <div class="form-group">
                <label class="sr-only" for="exampleInputAmount"></label>
                <div class="input-group">
                  <div class="input-group-addon">$</div>
                  <input type="text" ng-model="searchString" class="form-control" id="exampleInputAmount" placeholder="Pesquise por algum tratamento">
                </div>
                <div class="tags">
      <ul class="list-inline">
        <li class="tag"><a href="javascript:void()" ng-click="myFilter = null">Todos</a></li>
        <li class="tag"><a href="javascript:void()" ng-click="myFilter = {type: 1}">Consultas</a></li>
        <li class="tag"><a href="javascript:void()" ng-click="myFilter = {type: 2}">Tratamento</a></li>
        <li class="tag"><a href="javascript:void()" ng-click="myFilter = {type: 3}">Revista</a></li>
      </ul>
    </div>
              </div>
          </div>


          <div ng-repeat="i in items | searchFor:searchString | filter:myFilter | orderBy:'id'">
          <div class="col-md-6 " style="background:url( {{i.image}}); margin: 0; padding:0; border:5px solid #fff">
            <div class="card" style="margin:0; padding:0">
              
              <div class="text">
            
                <p>
                  <h2>{{ i.title }}</h2>
                  <span>{{ i.text }}</span><br>
                </p>

            </div>

            </div>
          </div>
          </div>
        </div>
      </div>



  <div class="container-fluid franquia" style="margin:0; padding:0">
    <div class="container">
      <div class="text-center" style="text-align:center">
      <div class="espaco"></div>
         <h2 style="font-size:36px; color: #6EAB2C; font-weight:800"> Seja um franqueado</h2>
         <div class="espaco"></div>
         <p style="color:#fff; font-size: 22px">Já pensou em entrar para o mercado que mais cresce no Brasil?<br>
          Só em 2013, o segmento de saúde e beleza movimentou<br>
          mais de 22 bilhões de reais*.</p>
          <div class="espaco"></div>
         <a class="btn btn-success" href="#" role="button">
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Conheça as vantagens de ser um franqueado Magrass!
         </a>
         <div class="espaco"></div>
      </div>

    </div>

  </div>

  <div class="container-fluid extra">
    <div class="container padding">
    <div class="col-md-4">
       <a class="btn ex" href="#" role="button" style="font-size: 20px; text-align: center;">
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Magrass Clube
       </a>
    </div>

    <div class="col-md-4">
       <a class="btn ex" href="#" role="button" style="font-size: 20px">
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Magrass Franquia
       </a>
    </div>

    <div class="col-md-4">
       <a class="btn ex" href="#" role="button" style="font-size: 20px">
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Chat online para franquias
       </a>
    </div>
      
    </div>
  </div>


  <div class="container-fluid rodape-link">
    <div class="container padding">
      <div class="col-md-3 col-sm-6 rodape">
        <h2 class="rod">Magrass</h2>
        <ul class="list-unstyled">
            <li><a href="">Unidades Magrass</a></li>
            <li><a href="">Especialidades Magrass</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Sobre nós</a></li>
            <li> <a href="">Contato</a></li>
          </ul>

      </div>
      <div class="col-md-3 col-sm-6">
        <ul class="list-unstyled">
           <h2 class="rod">Emagrecimento Saudável</h2>
              <li><a href="">Agende uma visita</a></li>
              <li><a href="">Programa metabólico</a></li>
              <li><a href="">Emagrecer comendo?</a></li>
              <li><a href="">Receitas de sucesso</a></li>
              <li><a href="">Mural colaborativo</a></li>

        </ul>

      </div>
      <div class="col-md-3 col-sm-6 ">
          
          <ul class="list-unstyled">
           <h2 class="rod">Estética de Resultado</h2>
              <li><a href="">Emagrecimento Saudável</a></li>
              <li><a href="">Gordura Localizada</a></li>
              <li><a href="">Celulite</a></li>
              <li><a href="">Hidrolipo Magrass</a></li>
        </ul>

      </div>
      <div class="col-md-3 col-sm-6 ">
         <ul class="list-unstyled">
           <h2 class="rod">Nosso canais</h2>
              <li><a href="">Emagrecimento Saudável</a></li>

        </ul>
      </div>

    </div>
  </div>

<div class="container-fluid">
  <div class="container text-center by">
  <div class="espaco"></div>
    <h2 style="color:#6EAB2C">Magrass Franchising</h2>
    <p>Av. dos Estados, 4770 - Sala 125 - Balneário Camboriú/SC<br>
    CEP: 88339-060 - Fone: 47 2033-0651</p>
  </div>
   <div class="espaco"></div>
</div>

























  		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  		<!--<script src="bower_components/angular/angular.min.js"></script>-->
  	</body>
      
          <script src="js/index.js"></script>

      
      
      
    </body>
  </html>
